#login-form{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input{
    border: none;
    font-size: 18px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 25px;
    padding: 15px 0px;
    transition: border-color 0.3s ease-in-out;
}
#login-form input:not([type="submit"]){
    border-bottom:1px solid rgba(0,0,0,0.2);
    transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder{
    color: rgba(0,0,0,0.4);
}
input:focus{
    outline: none;
}
#login-form input:focus{
    border-color: var(--navy);
}
.login-form__btn{
    color: white;
}
#login-form input[type="submit"]{
    background-color: var(--navy);
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 10px;
}

#login-form a{
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 13px;
} 